.services {
    height: 1107px;
    padding-top: 35px;

    .container {
        width: 320px;
        margin: 0 auto;
        padding: 0 15px;
        overflow: hidden;

        .section-names {
            width: 300px;
            height: 100px;
            margin: 0 auto;
            padding-right: 5px;
            text-align: center;

            .section-names-h {
                padding-right: 1px;
                color: #FFFFFF;
                font-family: 'Raleway', sans-serif;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                letter-spacing: -.5px;
            }

            .borders {
                position: relative;
                margin-top: 12px;

                .border-left {
                    position: absolute;
                    top: 6px;
                    left: 89px;
                    width: 37px;
                    height: 1.1px;
                    background: #D3D3D3;
                }

                .border-right {
                    position: absolute;
                    top: 6px;
                    right: 92px;
                    width: 37px;
                    height: 1.1px;
                    background: #D3D3D3;
                }
            }

            .borders img {
                margin-top: -4px;
                margin-left: -4px;
            }
        }

        .services-content {
            display: block;
            margin-top: 10px;

            .service-content-one {
                margin: 0 auto;
                padding-right: 0;
            }

            .service-content-two {
                margin: 0 auto;
                margin-top: 36px;
                padding-right: 0;
            }

            .sevice-content-text {

                .service-text-h {
                    margin-top: 32px;
                    color: #3AB6B2;
                    font-family: 'Raleway', sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    letter-spacing: -.6px;
                    text-align: center;
                }

                .service-text-p {
                    margin-top: 12px;
                    margin-left: -5px;
                    padding: 0 9px;
                    color: #FFFFFF;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: -.3px;
                    line-height: 21px;
                    text-align: center;
                }
            }

            .service-content-three {
                margin: 0 auto;
                margin-top: 38px;
                padding-right: 0;

                .sevice-content-text .service-text-h {
                    margin-top: 32px;
                    margin-left: -7px;
                    color: #3AB6B2;
                    font-family: 'Raleway', sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    letter-spacing: -.6px;
                    text-align: center;
                }

                .sevice-content-text .service-text-p {
                    margin-top: 12px;
                    margin-left: -5px;
                    padding: 0 9px;
                    color: #FFFFFF;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: -.3px;
                    line-height: 21px;
                    text-align: center;
                }
            }
        }
    }
}
