$color-1: #FFFFFF;
$color-2: #0E0E0E;
$color-3: #3AB6B2;
$color-4: #292929;
$color-5: #323232;
$color-6: #D3D3D3;
$color-7: #6A6A6A;
$color-8: #3B3B3B;
$color-9: #1E1E1E;
$color-10: #000000;
$color-11: #060606;
$color-12: #333333;
$color-13: #606060;
$color-14: #7C7C7C;
$color-15: #111111;
$color-16: #252525;
$color-17: #46629E;
