footer {
    height: 300px;
    padding-top: 46px;
    background-color: $color-15;

    .footer-brand {
        display: flex;
        width: 123px;
        height: 42px;
        margin: 0 auto;

        .footer-image {
            margin-left: 3px;
        }

        .footer-h {
            margin-top: 7px;
            margin-left: -2px;
            color: $color-1;
            font-family: 'Raleway Light', sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 100;
            letter-spacing: .5px;
        }
    }

    .footer-icons {
        width: 294px;
        margin: 0 auto;
        margin-top: 50px;

        .footer-icon {
            width: 40px;
            height: 40px;
            margin-right: 1px;
            margin-left: 4px;
            padding: 10px;
            border-radius: 3px;
            background-color: $color-16;
            cursor: pointer;
        }

        .footer-meil {
            padding: 14px 11px 14px 13px;
        }

        .footer-twitter {
            padding: 12px 10px 13px 15px;
        }

        .footer-fb {
            padding: 12px 14px 13px 19px;
        }

        .footer-bf {
            padding: 15px 10px 15px 12px;
        }

        .footer-deviantart {
            padding: 15px 10px 15px 9px;
        }

        .footer-flickr {
            padding: 15px 10px 15px 9px;
        }
    }

    .footer-p {
        margin-top: 45px;
        color: $color-1;
        font-family: 'Raleway Light', sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: .19px;
        text-align: center;
    }
}

.footer-icons .footer-icon:hover {
    background-color: $color-17;
}

footer .footer-brand::before {
    content: '';
    width: 27px;
    height: 42px;
    margin-left: 2px;
    background-image: url(/images/header/header-logo.png);
}
