footer {
    height: 313px;
    margin-top: 43px;

    .footer-brand {

        .footer-h {
            margin-top: 5px;
            margin-left: 0;
            font-size: 32.49px;
            letter-spacing: 0;
        }
    }

    .footer-icons {
        width: 230px;
        margin: 0 auto;
        margin-top: 43px;
        text-align: center;

        .footer-icon {
            margin-bottom: 5px;
        }
    }

    .footer-p {
        margin-top: 33px;
        margin-left: -2px;
    }
}
