* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.container-fluid {
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
