.navbar-bg {
    background-color: $color-2;

    nav {
        display: flex;
        width: 100%;
        height: 100px;
        padding: 27px 0;

        .navbar-brand {
            display: flex;
            height: 42px;

            h1 {
                margin-top: 7px;
                color: $color-1;
                font-family: 'Raleway Light', sans-serif;
                font-size: 36px;
                font-style: normal;
                font-weight: 100;
                letter-spacing: .5px;
            }
        }

        .navbar-collapse {
            flex-grow: 1;

            ul {
                display: flex;
                justify-content: flex-end;
                padding: 13px 2px;

                li {
                    padding-left: 40px;
                    list-style-type: none;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;

                    a {
                        color: $color-1;
                        letter-spacing: -.06px;
                        text-decoration: none;
                    }

                    :hover {
                        color: $color-3;
                    }
                }
            }
        }
    }
}

.slider-bg {
    height: 760px;
    background-color: $color-4;

    .slider {
        padding-top: 237px;
        text-align: center;

        h3 {
            margin-left: 21px;
            color: $color-1;
            font-family: 'Raleway', sans-serif;
            font-size: 62px;
            font-style: normal;
            font-weight: 100;
            letter-spacing: -.2px;
        }

        h2 {
            margin: -4px 0 0 22px;
            color: #FFFFFF;
            font-family: 'Montserrat', sans-serif;
            font-size: 74px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 1px;
            word-spacing: 1px;

            span {
                margin-left: -8px;
                font-size: 73px;
            }
        }

        p {
            margin: 4px 0 0 18px;
            color: $color-1;
            font-family: 'Raleway Light', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: -.1px;
        }

        .button {
            position: relative;
            text-align: center;

            .button-border {
                position: absolute;
                top: 43px;
                left: 528px;
                width: 138px;
                height: 38px;
                border: 1px solid $color-1;
                cursor: pointer;
            }

            button {
                margin-top: 40px;
                margin-left: 25px;
                padding: 14px 34px;
                border: none;
                background-color: $color-3;
                color: $color-1;
                font-family: 'Raleway', sans-serif;
                font-size: 13px;
                font-style: normal;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    .slider-prev {
        position: absolute;
        top: 400px;
        left: 31px;
        cursor: pointer;
    }

    .slider-next {
        position: absolute;
        top: 400px;
        right: 30px;
        cursor: pointer;
    }
}

.about {
    height: 702px;

    .section-names {
        width: 300px;
        height: 100px;
        margin: 0 auto;
        margin-top: 114px;
        text-align: center;

        h2 {
            color: $color-5;
            font-family: 'Raleway', sans-serif;
            font-size: 31px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: -.2px;

            span {
                color: $color-3;
            }
        }

        .borders {
            position: relative;
            margin-top: 11px;

            .border-left {
                position: absolute;
                top: 10px;
                left: 95px;
                width: 37px;
                height: 1.1px;
                background: $color-6;
            }

            .border-right {
                position: absolute;
                top: 10px;
                right: 95px;
                width: 37px;
                height: 1.1px;
                background: $color-6;
            }
        }
    }

    .about-content {
        display: flex;

        .about-left-content {
            margin-top: 60px;
            margin-left: -3px;
        }

        .about-right-content {
            margin-top: 60px;
            margin-left: 90px;

            .about-title {
                margin-top: -4px;
                margin-left: 2px;
                color: $color-5;
                font-family: 'Raleway', sans-serif;
                font-size: 31px;
                font-style: normal;
                font-weight: 700;
                letter-spacing: -.8px;
            }

            .about-text {
                margin-top: 22px;
                margin-left: 2px;
                color: $color-7;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 27px;
            }

            .about-content-icons {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);

                .about-content-one {
                    display: flex;
                    margin-top: 47px;
                    margin-left: 4px;

                    .about-content-img {
                        width: 63px;
                        height: 63px;
                        border-radius: 50%;
                        background: $color-8;
                        text-align: center;

                        img {
                            padding: 19.5px;
                        }
                    }

                    .about-content-text {
                        margin-left: 27px;

                        h2 {
                            color: $color-5;
                            font-family: 'Raleway', sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            letter-spacing: -.4px;
                        }

                        p {
                            margin-top: 9px;
                            color: $color-7;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 22px;
                        }
                    }
                }

                .about-content-two {
                    display: flex;
                    margin-top: 47px;
                    margin-left: 26px;

                    .about-content-img {
                        width: 63px;
                        height: 63px;
                        border-radius: 50%;
                        background: $color-8;
                        text-align: center;

                        img {
                            padding-top: 19px;
                            padding-right: 22px;
                            padding-left: 24px;
                        }
                    }

                    .about-content-text {
                        margin-left: 27px;

                        h2 {
                            color: $color-5;
                            font-family: 'Raleway', sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            letter-spacing: -.4px;
                        }

                        p {
                            margin-top: 9px;
                            margin-left: -1px;
                            color: $color-7;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 22px;
                        }
                    }
                }

                .about-content-three {
                    display: flex;
                    margin-top: 49px;
                    margin-left: 4px;

                    .about-content-img {
                        width: 63px;
                        height: 63px;
                        border-radius: 50%;
                        background: $color-8;
                        text-align: center;

                        img {
                            padding: 19.5px 19.5px 21.5px 19.5px;
                        }
                    }

                    .about-content-text {
                        margin-left: 27px;

                        h2 {
                            color: $color-5;
                            font-family: 'Raleway', sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            letter-spacing: -.4px;
                        }

                        p {
                            margin-top: 9px;
                            color: $color-7;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 22px;
                        }
                    }
                }

                .about-content-for {
                    display: flex;
                    margin-top: 49px;
                    margin-left: 26px;

                    .about-content-img {
                        width: 63px;
                        height: 63px;
                        border-radius: 50%;
                        background: $color-8;
                        text-align: center;

                        img {
                            padding-top: 21px;
                            padding-right: 22px;
                            padding-left: 22px;
                        }
                    }

                    .about-content-text {
                        margin-left: 27px;

                        h2 {
                            color: $color-5;
                            font-family: 'Raleway', sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            letter-spacing: -.4px;
                        }

                        p {
                            margin-top: 9px;
                            margin-left: -1px;
                            color: $color-7;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
}

.services {
    height: 783px;
    padding-top: 100px;
    background-color: $color-9;

    .section-names {
        width: 300px;
        height: 100px;
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;

        .section-names-h {
            color: $color-1;
            font-family: 'Raleway', sans-serif;
            font-size: 31px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: -.2px;
        }

        .borders {
            position: relative;
            margin-top: 4px;
            padding-left: 1px;

            .border-left {
                position: absolute;
                top: 10px;
                left: 95px;
                width: 37px;
                height: 1.1px;
                background: $color-6;
            }

            .border-right {
                position: absolute;
                top: 10px;
                right: 95px;
                width: 37px;
                height: 1.1px;
                background: $color-6;
            }
        }
    }

    .services-content {
        display: flex;
        margin-top: 100px;

        .service-content-one {
            width: 295px;
            cursor: pointer;

            .service-content-img {
                position: relative;
                z-index: 2;
                height: 150px;
                background-image: url(../../../images/border.png);
                background-repeat: no-repeat;
                background-position: center;
                text-align: center;

                .service-content-img-one {
                    position: absolute;
                    z-index: 999;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    margin-top: 61px;
                    padding-right: 8px;
                    cursor: pointer;

                    :hover {
                        background-image: none;
                    }
                }
            }

            .sevice-content-text {

                .service-text-h {
                    margin-top: 40px;
                    color: $color-3;
                    font-family: 'Raleway', sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    letter-spacing: .1px;
                    text-align: center;
                }

                .service-text-p {
                    margin-top: 12px;
                    margin-left: -5px;
                    color: $color-1;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: -.7px;
                    line-height: 22px;
                    text-align: center;
                }
            }
        }

        .service-content-two {
            width: 295px;
            margin-left: 142px;
            cursor: pointer;

            .service-content-img {
                position: relative;
                z-index: 2;
                height: 150px;
                background-image: url(../../../images/border.png);
                background-repeat: no-repeat;
                background-position: center;
                text-align: center;

                .service-content-img-one {
                    position: absolute;
                    z-index: 999;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    margin-top: 64px;
                    cursor: pointer;

                    :hover {
                        background-image: none;
                    }
                }
            }

            .sevice-content-text {

                .service-text-h {
                    margin-top: 40px;
                    color: $color-3;
                    font-family: 'Raleway', sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    letter-spacing: .1px;
                    text-align: center;
                }

                .service-text-p {
                    margin-top: 12px;
                    margin-left: 2px;
                    color: $color-1;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: -.7px;
                    line-height: 22px;
                    text-align: center;
                }
            }
        }

        .service-content-three {
            width: 295px;
            margin-left: 143px;
            cursor: pointer;

            .service-content-img {
                position: relative;
                z-index: 2;
                height: 150px;
                background-image: url(../../../images/border.png);
                background-repeat: no-repeat;
                background-position: center;
                text-align: center;

                .service-content-img-one {
                    position: absolute;
                    z-index: 999;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    margin-top: 64px;
                    cursor: pointer;

                    :hover {
                        background-image: none;
                    }
                }
            }

            .sevice-content-text {
                margin-left: 3px;

                .service-text-h {
                    margin-top: 40px;
                    color: $color-3;
                    font-family: 'Raleway', sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    letter-spacing: .1px;
                    text-align: center;
                }

                .service-text-p {
                    margin-top: 12px;
                    color: $color-1;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: -.7px;
                    line-height: 22px;
                    text-align: center;
                }
            }
        }
    }
}

.services-content .service-content-all-hover:hover .service-content-img {
    background-image: url(../../../images/service-hover.png);
}

.portfolio {
    height: 1017px;
    padding-top: 100px;

    .section-names {
        width: 300px;
        height: 100px;
        margin: 0 auto;
        margin-top: 7px;
        text-align: center;

        .section-names-h {
            color: $color-5;
            font-family: 'Raleway', sans-serif;
            font-size: 31px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: -.2px;
        }

        .borders {
            position: relative;
            margin-top: 8px;
            padding-left: 1px;

            .border-left {
                position: absolute;
                top: 9px;
                left: 95px;
                width: 37px;
                height: 1.1px;
                background: $color-6;
            }

            .border-right {
                position: absolute;
                top: 9px;
                right: 95px;
                width: 37px;
                height: 1.1px;
                background: $color-6;
            }
        }
    }

    .portfolio-content-top {
        display: grid;
        position: relative;
        grid-gap: 7px;
        grid-template-areas: 'portfolio-one portfolio-one portfolio-two portfolio-three portfolio-three', 'portfolio-one portfolio-one portfolio-two portfolio-three portfolio-three';
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 379px 379px;
        margin-top: 45px;

        .portfolio-one {
            position: relative;
            grid-column: span 2;
            background: $color-10;
            cursor: pointer;
        }

        .portfolio-two {
            position: relative;
            background: $color-10;
            cursor: pointer;
        }

        .portfolio-three {
            position: relative;
            grid-column: span 2;
            background: $color-10;
            cursor: pointer;
        }

        .portfolio-four {
            position: relative;
            background: $color-10;
            cursor: pointer;
        }

        .portfolio-five {
            position: relative;
            grid-column: span 2;
            background: $color-10;
            cursor: pointer;
        }

        .portfolio-six {
            position: relative;
            background: $color-10;
            cursor: pointer;
        }

        .portfolio-seven {
            position: relative;
            background: $color-10;
            cursor: pointer;
        }

        .portfolio-all-hover {

            .portfolio-hover {
                display: none;

                .icons {
                    display: flex;
                    margin-top: 160px;

                    .icon-one {
                        width: 46px;
                        height: 46px;
                        margin: 0 5px 0 auto;
                        border: 2px solid $color-3;
                        border-radius: 50%;
                        line-height: 43px;
                        text-align: center;
                    }

                    .icon-two {
                        width: 46px;
                        height: 46px;
                        margin: 0 auto 0 5px;
                        border: 2px solid $color-3;
                        border-radius: 50%;
                        line-height: 50px;
                        text-align: center;
                    }
                }

                .portfolio-text {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 75px;
                    background-color: $color-11;
                    text-align: center;

                    .portfolio-text-h {
                        margin-top: 17px;
                        color: $color-1;
                        font-family: 'Raleway', sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        letter-spacing: .5px;
                    }

                    .portfolio-text-p {
                        margin-top: 7px;
                        color: $color-3;
                        font-family: 'Raleway', sans-serif;
                        font-size: 13px;
                        font-style: italic;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.portfolio-content-top .portfolio-all-hover:hover {
    background-color: $color-4;
}

.portfolio-content-top .portfolio-all-hover:hover .portfolio-hover {
    display: block;
    cursor: pointer;
}

.contact {
    height: 897px;
    padding-top: 92px;

    .section-names {
        width: 300px;
        height: 100px;
        margin: 0 auto;
        text-align: center;

        .section-names-h {
            color: $color-12;
            font-family: 'Raleway', sans-serif;
            font-size: 31px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: -.2px;
        }

        .borders {
            position: relative;
            margin-top: 11px;
            padding-left: 1px;

            .border-left {
                position: absolute;
                top: 7px;
                left: 95px;
                width: 37px;
                height: 1.1px;
                background: $color-6;
            }

            .border-right {
                position: absolute;
                top: 7px;
                right: 95px;
                width: 37px;
                height: 1.1px;
                background: $color-6;
            }
        }
    }

    .contact-content {
        width: 950px;
        margin: 0 auto;

        .contact-header {
            display: flex;
            margin-top: 52px;

            .contact-heaer-one {
                width: 315px;
                text-align: center;

                .contact-heaer-one-img {
                    margin-left: 5px;
                }

                .contact-heaer-one-p {
                    margin-top: 15px;
                    margin-right: -9px;
                    color: $color-13;
                    font-family: 'Raleway', sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: .6px;
                    line-height: 24px;
                }
            }

            .contact-heaer-two {
                width: 315px;
                text-align: center;

                .contact-heaer-two-img {
                    margin-top: 6px;
                    margin-left: 5px;
                }

                .contact-heaer-two-p {
                    margin-top: 21px;
                    margin-right: -6px;
                    color: $color-13;
                    font-family: 'Raleway', sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: .6px;
                    line-height: 24px;
                }
            }

            .contact-heaer-three {
                width: 315px;
                text-align: center;

                .contact-heaer-three-img {
                    margin-top: 1px;
                    margin-left: -25px;
                }

                .contact-heaer-three-p {
                    margin-top: 16px;
                    margin-right: 21px;
                    color: $color-13;
                    font-family: 'Raleway', sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: .6px;
                    line-height: 24px;
                }
            }
        }

        .contact-form {
            width: 945px;
            margin: 0 auto;
            margin-top: 81px;

            .input-one {
                width: 464px;
                height: 46px;
                margin-right: 12px;
                padding-left: 9px;
                color: $color-14;
                font-family: 'Raleway', sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                letter-spacing: -.9px;
            }

            .input-two {
                width: 465px;
                height: 46px;
                padding-left: 9px;
                color: $color-14;
                font-family: 'Raleway', sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                letter-spacing: -.7px;
            }

            .input-three {
                width: 945px;
                height: 46px;
                margin-top: 14px;
                padding-bottom: 3px;
                padding-left: 9px;
                color: $color-14;
                font-family: 'Raleway', sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                letter-spacing: -.7px;
            }

            .textarea-one {
                width: 945px;
                height: 171px;
                margin-top: 14px;
                padding-top: 14px;
                padding-bottom: 3px;
                padding-left: 9px;
                color: $color-14;
                font-family: 'Raleway', sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                letter-spacing: -.4px;
            }

            .input-four {
                width: 160px;
                height: 42px;
                margin-top: 12px;
                padding-top: 1px;
                padding-left: 0;
                border: none;
                background-color: #3AB6B2;
                color: #FFFFFF;
                font-family: 'Raleway', sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                letter-spacing: -1.3px;
                cursor: pointer;
            }
        }
    }
}

footer {
    height: 300px;
    padding-top: 46px;
    background-color: $color-15;

    .footer-brand {
        display: flex;
        width: 123px;
        height: 42px;
        margin: 0 auto;

        .footer-image {
            margin-left: 3px;
        }

        .footer-h {
            margin-top: 7px;
            margin-left: -2px;
            color: $color-1;
            font-family: 'Raleway Light', sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 100;
            letter-spacing: .5px;
        }
    }

    .footer-icons {
        width: 294px;
        margin: 0 auto;
        margin-top: 50px;

        .footer-icon {
            width: 40px;
            height: 40px;
            margin-right: 1px;
            margin-left: 4px;
            padding: 10px;
            border-radius: 3px;
            background-color: $color-16;
            cursor: pointer;
        }

        .footer-meil {
            padding: 14px 11px 14px 13px;
        }

        .footer-twitter {
            padding: 12px 10px 13px 15px;
        }

        .footer-fb {
            padding: 12px 14px 13px 19px;
        }

        .footer-bf {
            padding: 15px 10px 15px 12px;
        }

        .footer-deviantart {
            padding: 15px 10px 15px 9px;
        }

        .footer-flickr {
            padding: 15px 10px 15px 9px;
        }
    }

    .footer-p {
        margin-top: 45px;
        color: $color-1;
        font-family: 'Raleway Light', sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: .19px;
        text-align: center;
    }
}

.footer-icons .footer-icon:hover {
    background-color: $color-17;
}
