.container {
    width: 1025px;
}

.navbar-button {
    display: none;
}

.about-tablet-content {
    display: none;
}

.about .about-content .about-left-content {
    width: 350px;
}

.about .about-content .about-left-content img {
    width: 350px;
}

.about .about-content .about-right-content {
    margin-left: 25px;
}

.slider-bg .slider .button .button-border {
    left: 441px;
}
