.navbar-bg {
    height: 67px;

    .container {
        width: 320px;
        margin: 0 auto;
        padding: 0 15px;
        overflow: hidden;

        .navbar-collapse {
            display: none;
        }

        .navbar-brand {

            h1 {
                margin-top: -7px;
                font-size: 27px;
                font-style: normal;
                font-weight: 100;
                letter-spacing: .5px;
            }
        }

        .navbar-button {
            display: !important block;
            position: relative;
            flex-grow: 1;

            .navbtn-hover {
                position: absolute;
                top: -8px;
                right: 2px;
                width: 50px;
                height: 33px;
                cursor: pointer;

                img {
                    width: 50px;
                    height: 33px;
                }
            }
        }
    }
}
