.container {
    width: 768px;
    height: 107px;

    .navbar-collapse {
        display: none;
    }

    .navbar-button {
        display: !important block;
        position: relative;
        flex-grow: 1;

        .navbtn-hover {
            position: absolute;
            top: 8px;
            right: 20px;
            width: 56px;
            height: 39px;
            cursor: pointer;
        }
    }
}

.container nav .navbtn-hover:hover {
    background-color: $color-3;
}
